@using TodoList.DataAccess;
@model TodoList.Models.HomeModel;

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta charset="utf-8" />
        <title>Todo List</title>
        <link href="~/css/index.css" rel="stylesheet" />
    </head>
    <script src="~/js/ConfrimWindow.js" defer type="text/javascript"></script>
    <body>
        <header>
            <h1>To do list</h1>
             <div class="form-container">
                <div asp-validation-summary="All"></div>
                <form method="post" asp-action="CreateTodo" asp-controller="Todo">
                    <div class="description-input">
                        <label for="Description"></label>
                        <input type="text" name="Description" id="Description" placeholder="Type new todo item here..." />
                    </div>
                    <div class="deadline-input">
                        <label for="Deadline"></label>
                        <input type="date" name="Deadline" id="Deadline" />
                    </div>
                    <div class="category-input">
                        <label for="CategoryId"></label>
                        <select name="CategoryId" id="CategoryId">
                            <option value="@null">No category</option>
                            @if (Model.CategoryList != null)
                            {
                                @foreach(CategoryModel item in Model.CategoryList)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <button class="add-btn" type="submit">Add task</button>
                </form>
            </div>
        </header>
        <main>
            <div class="filter-container">
                <form method="get" asp-action="Index" asp-controller="Home">
                    <div class="sort-container">
                        <select name="categoryId">
                            <option value="null">No filter</option>
                            @if (Model.CategoryList != null)
                            {
                                @foreach(CategoryModel item in Model.CategoryList)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <button class="filter-btn" type="submit"></button>
                </form>
                <a class="edit-category-btn" asp-action="GetCategoryList" asp-controller="Category"></a>
            </div>
            <div class="data-source-container">
                <form method="get" asp-action="ChangeDataSource">
                    <label for="dataSource"></label>
                    <select name="dataSource">
                        <!option value="sql" @(SourceDataRepository.SourceName == "sql" ? "selected" : "")>SQl Server</!option>
                        <!option value="xml" @(SourceDataRepository.SourceName == "xml" ? "selected" : "")>XML Storage</!option>
                    </select>
                    <button type="submit">Use</button>
                </form>
            </div>

            <section class="current-tasks">
                <h3>Current Tasks</h3>
                <table class=list-items>
                    @if (Model.UnCompleteTodoList != null)
                    {
                        @foreach (TodoModel item in Model.UnCompleteTodoList)
                        {
                            <tr class="todo-item">
                                <td class="description">@item.Description</td>
                                <td class="deadline">
                                    @if (@item.Deadline == null) {
                                        @null
                                    } else {
                                       @: @item.Deadline.Value.Day.@item.Deadline.Value.Month.@item.Deadline.Value.Year
                                    }
                                </td>
                                <td class="category">@item.CategoryName</td>
                                <td class="done"><a asp-action="SolveTodo" asp-controller="Todo" asp-route-id="@item.Id"></a></td>
                                <td class="edit"><a asp-action="GetEditFormTodo" asp-controller="Todo" asp-route-id="@item.Id"></a></td>
                                <td class="delete"><a class="del-link" asp-action="DeleteTodo" asp-controller="Todo" asp-route-id="@item.Id"></a></td>
                            </tr>
                        }
                    }
                </table>
            </section>

            <section class="done-tasks">
                    <h3>Done Tasks</h3>
                    <table class=list-items>
                        @if (Model.CompleteTodoList != null)
                        {
                            @foreach(TodoModel item in Model.CompleteTodoList)
                            {
                                <tr class="todo-item">
                                    <td class="description">@item.Description</td>
                                    <td class="done-time">
                                    @if (item.DoneTime.HasValue)
                                    {
                                        @: @item.DoneTime.Value.Day.@item.DoneTime.Value.Month.@item.DoneTime.Value.Year
                                    }
                                </td>
                                    <td class="category">@item.CategoryName</td>
                                    <td class="delete-container"><a class="delete del-link" asp-action="DeleteTodo" asp-controller="Todo" asp-route-id="@item.Id"></a></td>
                                </tr>
                            }
                        }
                    </table>
            </section>
        </main>
    </body>
</html>